<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330114765845-sst4hputpa7js043tnukgnp1s5bvrvgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330114765845-sst4hputpa7js043tnukgnp1s5bvrvgq</string>
	<key>API_KEY</key>
	<string>AIzaSyAMT7ZjnyntxPetD3Qcqk9d-iTyEDzFsa8</string>
	<key>GCM_SENDER_ID</key>
	<string>330114765845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crews.HotTakes</string>
	<key>PROJECT_ID</key>
	<string>hottakes-d5706</string>
	<key>STORAGE_BUCKET</key>
	<string>hottakes-d5706.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330114765845:ios:1d3c1ec5c995732eddaa1c</string>
</dict>
</plist>